/*#region Settings*/

/*#endregion*/

/*#region Tools*/

/*#endregion*/

/*#region Generic*/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 75%;
    background-color: #AED581;
}


/*#endregion*/

/*#region Base*/
h1 {
}

label {
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
}

span {
    font-size: 1.3rem;
    font-weight: 400;
    color: #000000;
}

button{
    font: inherit; /*I hate user agent stylesheets*/
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
    text-align: center;
    height: 28px;
}
/*#endregion*/

/*#region Objects*/
.flex-pillar {
    list-style-type: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}


.flex-line {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-flow: row;
    flex-flow: row;
}


/*#endregion*/

/*#region Components*/
    .task-box{
        padding: 8px;
        max-width: 650px;
        min-height: 100px;
        margin: 8px 4px;
        border: 0 hidden;
        background-color: #8BC34A;
        border-radius: 4px;
        box-shadow: 0px 4px 8px 2px rgba(158, 158, 158, 0.40);
    }

    .task-first-line{
        align-self: flex-start;
    }

    .task-second-line{
        margin-top: auto;
    }

    .task-description-label{
        align-self: flex-start;
    }

    .task-description-content{
        align-self: flex-start;
    }

    .task-due-date-label{
        align-self: flex-start
    }

    .task-due-date-content{
        align-self: flex-start;

    }

    .task-delete-button{
        margin-left: auto;
    }
/*#endregion*/

/*#region Trumps*/

/*#endregion*/
