/*#region Settings*/

/*#endregion*/

/*#region Tools*/

/*#endregion*/

/*#region Generic*/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 1px;
    background-color: #80CBC4;
}

body {
    margin: 0;
}
/*#endregion*/

/*#region Base*/
h1 {
}

label {
    font-size: 13rem;
    font-weight: 500;
}

span {
    font-size: 13rem;
    font-weight: 400;
}

input {
    font-size: 16rem;
    font-weight: 400;
}

button {
    font: inherit; /*I hate user agent stylesheets*/
    font-size: 14rem;
    font-weight: 500;
    color: inherit;
    background-color: transparent;
    border: none;
    text-align: center;
    height: 28px;
    text-transform: uppercase;
}
/*#endregion*/

/*#region Objects*/
.flex-pillar {
    list-style-type: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}


.flex-line {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
}

.align-top {
    vertical-align: top;
}

.clearfix  {
    clear: both;
    margin-bottom: 8px;
    overflow: auto;
}


.content-box {
    margin: 18px auto auto 48px;
    max-width: 700px;
}

.new-thing-description-bar {
    width: 20%;
    min-width: 120px;
    float: left;
}

.new-thing-inputs {
    width: 80%;
    min-width 180px;
    float: left;
}

/*#endregion*/

/*#region Components*/


.app-bar {
    color: #FFFFFF;
    background-color: #009688;
    width: auto;
    height: 25px;
    padding: 8px;
    align-items: center;
}

.search-label {
    margin-right: 16px;
}

.search-box {
    background-color: #4DB6AC;
    color: #000000;
    border: none;
    height: 22px;
}

.task-list{
    margin: 0;
    padding: 0;
}

.task-box {
    padding: 8px;
    width: auto;
    height: 70px;
    margin: 8px 4px;
    border: 0 hidden;
    color: #FFFFFF;
    background-color: #009688;
    border-radius: 4px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.5);
}

.task-first-line {
    align-self: flex-start;
}

.task-second-line {
    margin-top: auto;
}

.task-description-label {
    align-self: flex-start;
}

.task-description-content {
    align-self: flex-start;
}

.task-due-date-label {
    align-self: flex-start;
}

.task-due-date-content {
    align-self: flex-start;
}

.task-delete-button {
    margin-left: auto;
}

.add-item-info {
    height: 80px;
    background-color: #B2DFDB;
    color: #000000;
    border: none;
    resize: none;
}
/*#endregion*/

/*#region Trumps*/

/*#endregion*/
