<header class="app-bar">
    <div class="flex-wrap app-bar-content">
        <button type="button" ui-sref="main">EXIT</button>
    </div>
</header>
<div class="content-box">
    <form name="newThingCtrl.form">
        <div class="clearfix">
            <div class="new-thing-description-bar">
                <label class="align-top">
                    Task Description:
                </label>
            </div>
                <textarea class="add-item-info new-thing-inputs"
                          ng-model="newThingCtrl.newThing.info"
                          required></textarea>
        </div>
        <div class="clearfix">
            <div class="new-thing-description-bar">
                <label class="align-text-top">
                    Enter Date:
                </label>
            </div>
            <div class="new-thing-inputs">
                <input type="text" datepicker-popup is-open="newThingCtrl.datePickerOpen" 
                       ng-model="newThingCtrl.newThing.dueDate" 
                       required />
                <button type="button" ng-click="newThingCtrl.openDatePicker($event)">Open</button>
            </div>
        </div>
        <div class="clearfix">
            <button type="submit"
                    ng-click="newThingCtrl.addCommand()" 
                    ng-disabled="newThing.form.$invalid">Add</button>
        </div>
        <div id="squaresWaveG" class="clearfix" ng-if="newThingCtrl.isSaving">
            <div id="squaresWaveG_1" class="squaresWaveG">
            </div>
            <div id="squaresWaveG_2" class="squaresWaveG">
            </div>
            <div id="squaresWaveG_3" class="squaresWaveG">
            </div>
            <div id="squaresWaveG_4" class="squaresWaveG">
            </div>
            <div id="squaresWaveG_5" class="squaresWaveG">
            </div>
            <div id="squaresWaveG_6" class="squaresWaveG">
            </div>
            <div id="squaresWaveG_7" class="squaresWaveG">
            </div>
            <div id="squaresWaveG_8" class="squaresWaveG">
            </div>
            <!--  - See more at: http://cssload.net/#sthash.wCpo9Oue.dpuf -->
        </div>
    </form>
</div>