<div>
    <form name="newThingForm">
        <div>
            <label>
                Task Description:
            </label>
            <textarea ng-model="newThingCtrl.newThing.info" required>

            </textarea>
        </div>
        <div>
            <label>
                Enter Date:
            </label>
            <input type="date" ng-model="newThingCtrl.newThing.dueDate" required>
        </div>
        <div>
            <button type="submit" ng-click="newThingCtrl.addCommand()" ng-disabled="newThingForm.$invalid">Add</button>
            <button type="button" ng-click="newThingCtrl.cancelCommand()">Exit</button>
        </div>
    </form>
</div>