<div style="padding :8px">
    <form name="newThingCtrl.form">
        <div class="clearfix">
            <div>
                <label>
                    Description:
                </label>
            </div>
            <div>
                <textarea class="add-item-info"
                          ng-maxlength="30"
                          ng-model="newThingCtrl.newThing.info"
                          required
                          style="width: 303px;
                          font-size: 1rem;
                          padding: 8px 0;
                          outline: none"></textarea>
            </div>
        </div>
        <div class="clearfix">
            <div class="new-thing-inputs">
                <div style="display: flex">
                    <datepicker ng-model="newThingCtrl.newThing.dueDate" required style="flex: 1 1 304px; max-width: 304px"></datepicker>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <button type="submit"
                    ng-click="newThingCtrl.addCommand()" 
                    ng-disabled="newThing.form.$invalid">Add</button>
        </div>
    </form>
</div>